<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetJSON</servlet-name>
        <servlet-class>Servlets.GetJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveJson</servlet-name>
        <servlet-class>Servlets.SaveJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Correccion</servlet-name>
        <servlet-class>Servlets.Correccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetJSON</servlet-name>
        <url-pattern>/GetJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveJson</servlet-name>
        <url-pattern>/SaveJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Correccion</servlet-name>
        <url-pattern>/Correccion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
